@font-face {
    font-family: 'EkkamaiStandard-Light';
    src: url('css/fonts/EkkamaiStandard-Light.ttf') format('truetype');
}

body {
    font-family: EkkamaiStandard-Light;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
    grid-template-columns: 400px;
    grid-template-rows: 100px;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    margin: 0px 10px;
}

.imgC {
    border-radius: 50%;
    margin: 15px;
}

.div1 {
    text-align: center;
}

.article {
    position: relative;
}

.block1 {
    height: auto;
    width: 80%;
    object-fit: cover;
    justify-content: center;
    text-align: center;
    margin: 50px 30px;
}

.test1 {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    align-items: center;
    /* margin-bottom: 30px; */
    /* background: rgb(160, 109, 109); */
}

.powerName {
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
    /* margin-bottom: 30px; */
    /* background: rgb(160, 109, 109); */
}

.test2 {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    align-items: center;
    /* margin-bottom: 30px; */
    /* background: rgb(160, 109, 109); */
}

.h1_logo {
    font-family: 'EkkamaiStandard-Light';
    vertical-align: baseline;
    font-size: 300%;
    color: #2A416A;
}

.h3 {
    font-family: 'EkkamaiStandard-Light';
    vertical-align: baseline;
    font-size: 150%;
    color: #2A416A;
}

.p1 {
    font-size: 150%;
}

.responsive {
    width: 90%;
    height: auto;
}

.h2x {
    font-size: 100%;
}


/* #mainC {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "head  head" "img  main";
    grid-gap: 3px;
    justify-content: center;
    text-align: center;
    height: 320px;
}

#mainC>header {
    grid-area: head;
    background-color: #8ca0ff;
    align-self: center;
}

#mainC>image1 {
    grid-area: img;
    background-color: #8ca0ff;
   
} */

.container2 {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
    grid-template-columns: 400px;
    grid-template-rows: 30% 30% auto;
    grid-gap: 1px;
    justify-content: center;
    text-align: center;
    /* margin: 0px 10px; */
}

.article2 {
    position: relative;
}

.click {
    margin: 80px 0px 50px 0px;
}

.click2 {
    margin: 40px;
}

.h1x {
    font-size: 180%;
}

.h3x {
    font-size: 250%;
}